@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vw;
}

a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;

}

.btn {
    background-color: #1bbcef;
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    text-transform: uppercase;
}

.header {
    background-color: #7030cc;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 4rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 12rem 0rem 12rem;
}

.navbar .logo img {
    width: 150px;
}

.nav-items a {
    color: #fff;
    margin-left: 5rem;
}

.nav-items .active {
    color: #1bbcef;
    border-bottom: 1px solid #ff74fa;
}

.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-text {
    padding-left: 12rem;
}

.hero-heading {
    color: #fff;
    font-size: 96px;
    margin-bottom: 2rem;
}

.hero-desc {
    color: #fff;
    font-size: 24px;
    margin-bottom: 3rem;
    font-weight: 300;
}

.hero-img img {
    width: 100%;
}

.feature {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 2rem;
}

.feature-text .content {
    width: 500px;
    margin: 0 10rem;
}

.feature-heading {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 4rem;
}

.feature-main {
    font-size: 24px;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
}

.feature-text {
    font-size: 18px;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.one {
    color: #f28a3f;
}

.two {
    color: #7aca3a;
}

.three {
    color: #3f9cf2;
}

.feature-img img {
    width: 100%;
}


.card-heading {
    font-size: 48px;
    text-align: center;
    margin-bottom: 4rem;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 5rem;


}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 4rem;
    width: 250px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.258);
}

/* .card img {
    width: 180px;
    margin: 0 6rem;
}

.code {
    padding: 1rem;
    background-color: rgba(255, 0, 0, 0.205);
    border-radius: 50%
} */


.card .fa-solid {
    padding: 2rem;
    margin: 2rem;
    border-radius: 50%;
}

.fa-code {
    color: #c78b8b;
    background-color: #faeaeb;
}

.fa-chart-line {
    color: #f28a3f;
    background-color: #fbf0ee;
}

.fa-file-shield {
    color: #6f9695;
    background-color: #e9f4f6;
}

.fa-headset {
    color: #a343ae;
    background-color: #f2e7f5;
}

.card .active {
    background-color: #6429b7;
    border-radius: 30px;
    color: #fff;
}

.card-info {
    padding: 1rem;
}


.card-main {
    font-size: 24px;
    margin-bottom: 1rem;
}

@media(max-width:968px) {

    .navbar {

        flex-direction: column;
        gap: 2rem;
        padding: 4rem 1rem 0rem 1rem;
    }

    .nav-items a {
        color: #fff;
        margin-left: 2rem;
        font-size: 14px;

    }

    .btn {
        padding: .5rem .75rem;
        font-size: 14px;
    }


    .hero-section {
        margin: 0 2rem;
    }

    .hero-text {
        padding: 0;
    }

    .hero-heading {
        font-size: 36px;
        margin-bottom: 2rem;
        line-height: 1;
    }

    .hero-desc {
        font-size: 16px;
        margin-bottom: 2rem;
        font-weight: 300;
    }

    .feature {
        grid-template-columns: 1fr;
    }

    .feature-text .content {
        width: 500px;
        margin: 0 auto;
    }

    .feature-img {
        width: 75vw;
        margin: 0 auto;
    }

    .feature-main {
        font-size: 24px;
        margin-bottom: 1.5rem;
        margin-left: 1rem;
    }

    .feature-text {
        margin-left: 0rem;
    }

    .cards {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0;
        margin: 0 8rem;
    }
}

@media(max-width:512px) {
    .nav-btn {
        display: none !important;
    }

    .nav-items a {
        display: inline-block;
        margin-bottom: 2rem;

    }

    .hero-section {
        grid-template-columns: 1fr;
    }

    .hero-text {
        text-align: center;
    }

    .hero-img {
        margin: 0 auto;
        margin-bottom: 2rem;
        width: 80%;
    }

    .feature-list {
        padding: 0 2rem;
    }


    .feature-heading {
        font-size: 24px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        margin-bottom: 4rem;
        text-align: center;
    }

    .feature-main {
        font-size: 16px;
        margin-bottom: 1.5rem;
    }

    .feature-text {
        font-size: 14px;
        margin-right: 2rem;
    }
}